{% extends "showroom/base.html" %}

{% from "components/user-icon.html" import user_icon %}
{% from "components/header-publication.html" import header_publication %}
{% from "components/footer-mobile.html" import footer_mobile %}
{% from "components/buttons.html" import buttons %}
{% from "components/list-friends.html" import list_friends %}
{% from "components/header.html" import header %}
{% from "components/footer.html" import footer %}
{% from "components/media.html" import media %}
{% from "components/chat.html" import chat %}

{% block title %} Chat {% endblock title %}

{% block extrastyles %}<link rel="stylesheet" href="{{ url_for('static', filename='css/chat.css') }}" >{% endblock %}

{% block body -%}

{{ header(classname="bg-header") }}

<div class="main-container-chat container margin-section full-mobile">

</div>


{{footer()}}
{{footer_mobile(class="black")}}

{%- endblock body %}