{% extends "base.html" %}

{% from "components/utils/user-icon.html" import user_icon %}
{% from "components/utils/buttons.html" import buttons %}
{% from "components/utils/input.html" import input %}
{% from "all_components/header.html" import header %}
{% from "all_components/mobile-navmenu.html" import mobile_navmenu %}
{% from "all_components/long-cards.html" import longCard %}
{% from "all_components/card.html" import card %}

{% block extrastyles %}<link rel="stylesheet" href="{{ url_for('static', filename='css/profile1.css') }}" >
<link rel="stylesheet" href="{{ url_for('static', filename='css/profile-edit.css') }}" >
{% endblock %}

{% block title %} {{_("Edit")}} {% endblock title %}

{% block body -%}

    <div class="main-container-header">
        <form method="POST" id="editProfile" class="form-profile" enctype="multipart/form-data">
            <div class="header-group ">
                <div class="section-header" style='--bg-image: url({{user.banner_url}})'>
                    {{ header(classname="bg-header transparent") }}
                    <div class="container profile-icon">
                        {{ user_icon(
                            img=user.profile_photo_url,
                            alt=user.username,
                            type="change",
                            url=url_for('user.profile', username=user.username),
                        ) }}
                        <p class="container-name fw-bold">{{user.first_name}} {{user.last_name}}</p>
                    </div>
                </div>
                <div class="desktop-content">
                    <div class="container">
                    <nav class=" navegation-desktop">
                            {{buttons(
                                mensaje=_("Save"),
                                type="primary last",
                                font="fw-bold",
                                letters="")
                            }}
                    </nav>
                    </div>
                </div>

                <div class="mobile-content">
                    <div class="container margin-bottom">
                        {{buttons(
                            mensaje=_("Save"),
                            type="primary last",
                            font="fw-bold",
                            letters="")
                        }}
                    </div>
                </div>

                <section class="container">
                        {{mobile_navmenu(details=True, 
                        functionPublication="parent.location='" + url_for('user.profile', username='vittorio_adesso') + "'", functionDetails="parent.location='" + url_for('user.profile', username='vittorio_adesso') + "'")}}

                        {{ form.csrf_token }}
                        <div class="text-area-container">
                        {{ input(
                            field_wrapper_class="w-100",
                            field=form.description,
                            field_class="white w-100 details",
                            label_class="d-flex fw-bold black",
                            label=False,
                        )}}
                        </div>

                        <hr>

                        <div class="container-fields margin-top">
                            <div class="container-fields-main">
                                {{ input(
                                    field_wrapper_class="input-label w-100",
                                    field=form.first_name,
                                    field_class="white w-100",
                                    placeholder=_("Your first name"),
                                    label_class="fw-bold black",
                                )}}

                                {{ input(
                                    field_wrapper_class="input-label w-100",
                                    field=form.last_name,
                                    field_class="white w-100",
                                    placeholder=_("Your last name"),
                                    label_class="fw-bold black",
                                )}}
                            
                                {{ input(
                                    field_wrapper_class="input-label w-100",
                                    field=form.birth_date,
                                    field_class="white w-100",
                                    label_class="fw-bold black",
                                )}}

                                {{ input(
                                    field_wrapper_class="drop-down-list",
                                    field=form.gender,
                                    field_class="white w-100 cont-item-drop-down-list",
                                    label_class="fw-bold black",
                                )}}
                            </div>
                            <div class="container-fields-favorites">   
                                {{ input(field=form.books, label=False)}}
                                {{ input(field=form.colors, label=False)}}
                                {{ input(field=form.games, label=False)}}
                                {{ input(field=form.langs, label=False)}}
                                {{ input(field=form.music, label=False)}}
                            </div>
                        </div>


                        {{ input(
                            field=form.profile_photo,
                            field_class="white w-100",
                            label_class="d-flex fw-bold black",
                        )}}
                        {{ input(
                            field=form.banner_photo,
                            field_class="white w-100",
                            label_class="d-flex fw-bold black",
                        )}}
                    
                </section>
            </div>
        </form>
    </div>
{%- endblock body %}
