{% extends "base.html" %}

{% from "components/utils/user-icon.html" import user_icon %}
{% from "components/utils/card.html" import card %}
{% from "components/utils/buttons.html" import buttons %}
{% from "components/utils/header.html" import header %}
{% from "components/posts/post.html" import post as _post %}
{% from "components/user/mobile-navmenu.html" import mobile_navmenu %}
{% from "components/utils/long-cards.html" import longCard %}
{% from "components/user/navegation-mobile.html" import navegation %}

{% block extrastyles %}<link rel="stylesheet" href="{{ url_for('static', filename='css/profile1.css') }}" >
<link rel="stylesheet" href="{{ url_for('static', filename='css/profile3.css') }}" >
{% endblock %}

{% block title %} {{_("Description")}} {% endblock title %}

{% block body -%}

    <div class="main-container-header">
        <div class="header-group ">
            <div class="section-header" style='--bg-image: url({{target_user.banner_url}})'>
            {{ header(classname="bg-header transparent", user=user) }}
            <div class="container profile-icon">
                {{ user_icon(
                    user=target_user,
                    type="profile",
                  ) }}
            <p class="container-name fw-bold">{{target_user.full_name}} </p>   
            </div>
            </div>

            <div class="desktop-content">
                <div class="container">
                  <nav class="navegation-desktop">
                    {% if is_myuser -%}
                      {{buttons(
                          mensaje=_("Edit profile"),
                          type="primary tercero",
                          letters="",
                          link=url_for('user.edit_user_profile'))
                      }} 
                    {%- else -%}
                      {{buttons(
                          mensaje=_("Delete") if is_friend else _("Be friend"),
                          type="primary tercero",
                          letters="",
                          data='url=' + url_for('api.friend-list', username=target_user.username))
                      }}
                    {%- endif %}
                      {{buttons(
                          mensaje=_("Messages") if is_myuser else _("Chat"),
                          type="primary last",
                          letters="",
                          link=url_for('user.chat'))
                      }}
                  </nav>
                </div>
            </div>

            {{navegation(is_myuser=is_myuser, is_friend=is_friend, target_user=target_user)}}
        </div>
        
        {{mobile_navmenu(details=True, user=target_user)}}

        <p class="container details">{{target_user.description}}</p>

    </div>

    <hr class="container">

    <div class="margin-top"></div>

    <div class="container cards-mobile">

        {{longCard(
          title=_("Games"),
          content=target_user.games,
          type='secundary'
        )}}
        {{longCard(
          title=_("Books"),
          content=target_user.books,
          type='secundary'
        )}}
        {{ longCard(
          title=_("Languages"),
          content=target_user.langs,
          type='secundary'
        ) }}
        {{ longCard(
          title=_("Music"),
          content=target_user.music,
          type='secundary'
        ) }}
        {{ longCard(
          title=_("Colors"),
          content=target_user.colors,
          type='secundary'
        ) }}
    </div>

{%- endblock body %}