{% extends "user/auth/base.html" %}
{% block footer %}
{{super()}}
<div class="margin-mobile"></div>
<div class="footer-mobile black">
  <div class="container d-flex jc-space_between">
    <a href="{{url_for('user.page', username=user.username)}}">
      <img loading="lazy" src="{{ url_for("static",
      filename="img/icons/user.svg") }}" alt="User icon">
    </a>
    <a href="{{url_for('posts.post-create')}}">
      <img loading="lazy" src="{{ url_for("static",
      filename="img/icons/plus-sign.svg") }}" alt="Add publication">
    </a>
    <a href="{{url_for('chat.chat-list')}}">
      <img loading="lazy" src="{{ url_for("static",
      filename="img/icons/chat.svg") }}" alt="Chat">
    </a>
  </div>
</div>
{% endblock footer %}
