{% extends "base.html" %}

{% from "components/utils/user-icon.html" import user_icon with context %}
{% from "all_components/header-publication.html" import header_publication %}
{% from "components/utils/buttons.html" import buttons %}
{% from "all_components/list-friends.html" import list_friends %}
{% from "components/utils/header.html" import header %}
{% from "all_components/media.html" import media %}

{% block title %} DEGVA {% endblock title %}
{% block extrastyles %}<link rel="stylesheet" href="{{ url_for('static', filename='css/muro.css') }}" >{% endblock %}
{% block onloadscripts %}
<script src="{{url_for('static', filename='js/all_components/test.js')}}"> </script>
{% endblock onloadscripts %}

{% block body %}
{{ header(classname="bg-header", user=user) }}
<div class="header-main container">
    <div class="section-left">
        {{ user_icon(
            user=user,
            type="shadow",
        ) }}
        {{buttons(
            mensaje=_("What do you think?..."),
            type="create",
            link=url_for('posts.post-create'),
            font = "fw-normal",
            letters="")
        }}
    </div>
    {{buttons(
        mensaje=_("Messages"),
        type="primary with-icon",
        link=url_for('user.chat'),
        icon=url_for("static", filename="img/icons/chat.svg"),
        alticon="Messages Icon",
        font = "fw-normal",
        letters="")
    }}
</div>
<div class="container main-container margin-section full-mobile">
    <aside>
        {{list_friends(
        img=url_for('static', filename='img/users/26838989.png'),
        name="Vittorio Adesso",
        alt="User1 Photo",
        url=url_for('user.profile', username='vittorio_adesso'),
        type="connect",
        comunFriends="32",
        png=url_for('static', filename='img/users/26838989.png'),
        webp=url_for('static', filename='img/users/26838989.webp'),
        globalbutton="True"
        )}}
    </aside>
    <main>
        <div class="publication">
            {{ header_publication(
                img=url_for('static', filename='img/users/26272390.png'),
                input="UCV, la casa que vence las sombras",
                author="Daniel Vieira",
                url=url_for('user.profile', username='vittorio_adesso'),
                time="Today",
                png=url_for('static', filename='img/users/26272390.png'),
                webp=url_for('static', filename='img/users/26272390.webp')
            )}}

            {{ media(
                type="img",
                img=url_for("static", filename="img/media1.png"),
                png=url_for("static", filename="img/media1.png"),
                webp=url_for("static", filename="img/media1.webp"),
                alt="Photo Publication",
                url=url_for("posts.post-detail", id=1)
            )}}
            <div class="comments-user">
                <div class="comments-group">

                    {{ user_icon(
                        user=user,
                        type="basic one",
                    ) }}
                    {{ user_icon(
                        user=user,
                        type="basic two",
                    ) }}
                    {{ user_icon(
                        user=user,
                        type="basic three",
                    ) }}

                </div>
                <a href="{{url_for('posts.post-detail', id=1)}}">Ver comentarios</a>
            </div>
        </div>
        <div class="publication margin-section">    
            {{ header_publication(
                img=url_for('static', filename='img/users/26272390.png'),
                input="UCV, la casa que vence las sombras",
                author="Daniel Vieira",
                url=url_for('user.profile', username='vittorio_adesso'),
                time="Today",
                png=url_for('static', filename='img/users/26272390.png'),
                webp=url_for('static', filename='img/users/26272390.webp')
            )}}
            {{ media(
                type="text",
                text="Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, voluptates quisquam unde excepturi nisi nulla esse reprehenderit alias provident maiores at iure vel dolorum. Aut accusantium commodi ratione cumque repudiandae.

                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum accusamus consectetur dolorem doloremque quasi incidunt, aspernatur culpa quae temporibus sint accusantium nisi delectus ut est perferendis eos dicta commodi dolor!",
                url=url_for("posts.post-detail", id=1)
            )}}
            <div class="comments-user">
                <div class="comments-group">
                    {{ user_icon(
                        user=user,
                        type="basic one",
                    ) }}
                    {{ user_icon(
                        user=user,
                        type="basic two",
                    ) }}
                    {{ user_icon(
                        user=user,
                        type="basic three",
                    ) }}
                </div>
                <a href="{{url_for('posts.post-detail', id=1)}}">Ver comentarios</a>
            </div>
        </div>
        <div class="publication margin-section">    
            {{ header_publication(
                img=url_for('static', filename='img/users/26272390.png'),
                input="New Publication",
                author="Daniel Vieira",
                time="Today",
                png=url_for('static', filename='img/users/26272390.png'),
                webp=url_for('static', filename='img/users/26272390.webp')
            )}}
            {{media(
                type="img",
                img=url_for("static", filename="img/media1.png"),
                png=url_for("static", filename="img/media1.png"),
                webp= url_for("static", filename="img/media1.webp"),
                alt="Photo publication",
                url=url_for("posts.post-detail", id=1)
            )}}
            <div class="comments-user">
                <div class="comments-group">

                {{ user_icon(
                    user=user,
                    type="basic one",
                ) }}
                {{ user_icon(
                    user=user,
                    type="basic two",
                ) }}
                {{ user_icon(
                    user=user,
                    type="basic three",
                ) }}

                </div>
                <a href="{{url_for('posts.post-detail', id=1)}}">Ver comentarios</a>
            </div>
        </div>


        <div class="publication margin-section">    
            {{ header_publication(
                img=url_for('static', filename='img/users/26272390.png'),
                input="La canción favorita",
                author="Daniel Vieira",
                url=url_for('user.profile', username='vittorio_adesso'),
                time="Today",
                png=url_for('static', filename='img/users/26272390.png'),
                webp=url_for('static', filename='img/users/26272390.webp')
            )}}
            {{media(
                type="video",
                src=url_for('static', filename='video/QuickTime Sample Video Warning Video is 5 Seconds Long_v144P.mp4'),
                url=url_for("posts.post-detail", id=1)
            )}}
            <div class="comments-user">
                <div class="comments-group">

                {{ user_icon(
                    user=user,
                    type="basic one",
                ) }}
                {{ user_icon(
                    user=user,
                    type="basic two",
                ) }}
                {{ user_icon(
                    user=user,
                    type="basic three",
                ) }}

                </div>
                <a href="{{url_for('posts.post-detail', id=1)}}">Ver comentarios</a>
            </div>
        </div>

        <div class="publication margin-section">    
            {{ header_publication(
                img=url_for('static', filename='img/users/26272390.png'),
                input="New Publication",
                author="Daniel Vieira",
                time="Today",
                png=url_for('static', filename='img/users/26272390.png'),
                webp=url_for('static', filename='img/users/26272390.webp')
            )}}
            {{media(
                type="audio",
                src=url_for('static', filename='video/QuickTime Sample Video Warning Video is 5 Seconds Long_v144P.mp4'),
                url=url_for("posts.post-detail", id=1)
            )}}
            <div class="comments-user">
                <div class="comments-group">

                {{ user_icon(
                    user=user,
                    type="basic one",
                ) }}
                {{ user_icon(
                    user=user,
                    type="basic two",
                ) }}
                {{ user_icon(
                    user=user,
                    type="basic three",
                ) }}

                </div>
                <a href="{{url_for('posts.post-detail', id=1)}}">Ver comentarios</a>
            </div>
        </div>

    </main>
</div>

{% endblock body %}
