{% extends "user/auth/base.html" %} 
{% from "components/utils/buttons.html" import buttons %} 
{% from "components/user/auth/slogan.html" import slogan %}
{% from "components/user/auth/slogan.html" import slogan %}

{% block title %} DEGVA {% endblock title %} 
{% block extrastyles %}<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}"
/>
{% endblock %}

{% block body %}
<div class="container-center">
  <div class="background-dark-transparent">
    <div class="container content-distribution">
      <a href="{{url_for('app.landing')}}">
        <div class="main-logotype">
          <img
            src="{{ url_for('static', filename='img/logo.svg') }}"
            alt="DEGVA logotype"
          />
          <h1>DEGVA</h1>
        </div>
      </a>
      {{ slogan() }}

      <div class="container-button">
        {{buttons( mensaje=_("Log In"),
            id="logIn", 
            type="primary", 
            font="fw-bold",
            letters="text-uppercase", 
            link=url_for('user.login')) 
        }}
        {{buttons(
            mensaje=_("Sign Up"), 
            id="signUp", 
            type="primary", 
            font="fw-bold",
            letters="text-uppercase", 
            link=url_for('user.register')) 
        }}
      </div>
    </div>
  </div>
</div>

{% endblock body %}
