{% extends "base.html" %}

{% from "all_components/input-label.html" import inputLabel %}

{%block title %}{{ _('Input Label') }}{% endblock title %}
{% block body %}

<div class="container w-25" style="margin-top: 2em;">
    {{inputLabel(
        type='text',
        classInput='white w-100',
        classLabel='black'
    )}}
    
    <div class="margin-section"></div>
    
    {{inputLabel(
        type='text',
        classInput='primary w-100',
        classLabel='black'
    )}}
    
    <div class="margin-section"></div>
    
    {{inputLabel(
        type='textarea',
        classInput='white w-100',
        classLabel='black'
    )}}
    
    <div class="margin-section"></div>
    
    {{inputLabel(
        type='textarea',
        classInput='primary w-100',
        classLabel='black'
    )}}
</div>

{% endblock body %}