{% extends "showroom/base.html" %}
{% from "components/chat.html" import chat %} 
{% block title %}{{ _('Chat') }}{% endblock title %}
{% block body %}

<div class="container-chat-showroom">
  <div class="margin-section"></div>
  <div class="container">
    {{chat(
      type="reply",
      menssage="So much Text that edu cant imaginate more text",
      date_time="Date Time",
      comment="1",
      png=url_for('static', filename='img/users/25641651.png'),
      webp=url_for('static', filename='img/users/25641651.webp'),
      alt=""
    )}}
  </div>
    <div class="margin-section"></div>
    <div class="container">
    {{chat(
      type="response",
      menssage="So much Text that edu cant imaginate more text",
      date_time="Date Time",
      comment="",
      png=url_for('static', filename='img/users/25641651.png'),
      webp=url_for('static', filename='img/users/25641651.webp'),
      alt=""
    )}}
  </div>
    <div class="margin-section"></div>
    <div class="container">
    {{chat(
      type="reply",
      menssage="So much Text that edu cant imaginate more text",
      date_time="Date Time",
      comment="",
      png=url_for('static', filename='img/users/25641651.png'),
      webp=url_for('static', filename='img/users/25641651.webp'),
      alt=""
    )}}
  </div>
    <div class="margin-section"></div>
    <div class="container">
    {{chat(
      type="response",
      menssage="So much Text that edu cant imaginate more text",
      date_time="Date Time",
      comment="1",
      png=url_for('static', filename='img/users/25641651.png'),
      webp=url_for('static', filename='img/users/25641651.webp'),
      alt=""
    )}}
  </div>
</div>
{% endblock body %}
