{% extends "base.html" %}

{% from "all_components/header-publication.html" import header_publication %}

{% block title %}{{ _('Header Publication') }}{% endblock title %}
{% block body %}
<div class="w-25 container"> <!-- this div is not part of the component -->
    {{ header_publication(
        img=url_for('static', filename='img/users/26272390.png'),
        input="New Publication",
        author="Daniel Vieira",
        time="Today",
        png=url_for('static', filename='img/users/26272390.png'),
        webp=url_for('static', filename='img/users/26272390.webp')
    )}}
</div>
{% endblock body %}
