{% extends "showroom/base.html" %}

{% from "components/user-icon.html" import user_icon %}

{% block title %}{{ _('User icon') }}{% endblock title %}
{% block body %}

    <!-- User basic -->
    {{ user_icon(
      img=url_for('static', filename='img/users/25641651.png'),
      alt="User1 Photo",
      type="basic",
      png=url_for('static', filename='img/users/25641651.png'),
      webp=url_for('static', filename='img/users/25641651.webp')
    ) }}

    <div class="margin-section"></div>

    <!-- User profile shadow -->
    {{ user_icon(
      img=url_for('static', filename='img/users/26956071.png'),
      alt="User2 Photo",
      type="shadow",
      png=url_for('static', filename='img/users/26956071.png'),
      webp=url_for('static', filename='img/users/26956071.webp')
    ) }}

    <div class="margin-section"></div>

    <!-- User connect -->
    {{ user_icon(
      img=url_for('static', filename='img/users/26838989.png'),
      alt="User3 Photo",
      type="connect",
      png=url_for('static', filename='img/users/26838989.png'),
      webp=url_for('static', filename='img/users/26838989.webp')
    ) }}

    <div class="margin-section"></div>

    <!-- User disconnect -->
    {{ user_icon(
      img=url_for('static', filename='img/users/26272390.png'),
      alt="User4 Photo",
      type="disconnect",
      png=url_for('static', filename='img/users/26272390.png'),
      webp=url_for('static', filename='img/users/26272390.webp')
    ) }}

    <div class="margin-section"></div>

    <!-- User profile no-shadow -->
    {{ user_icon(
      img=url_for('static', filename='img/users/26838989.png'),
      alt="User5 Photo",
      type="",
      url='https://www.google.com/',
      png=url_for('static', filename='img/users/26838989.png'),
      webp=url_for('static', filename='img/users/26838989.webp')
    ) }}

{% endblock body %}
