.text-center {
  text-align: center;
}

.margin-section {
  margin: 4rem 0;
}

.margin-bottom {
  margin-bottom: 4rem;
}

.margin-top {
  margin-top: 4rem;
}

.text-uppercase {
  text-transform: uppercase;
}

.fw-normal{
  font-weight: 400;
}

.fw-bold{
  font-weight: 700;
}

.w-100 {
  width: 100%;
}

.p-2 {
  padding: 0 2em;
}

.margin-mobile{
  margin-bottom: 17rem !important;
  @include cell{
    margin-bottom: 0rem !important;
  }
}