// Colors

$primary:   #6BB0A9;
$secundary: #FF3E91;
$warning:   #FFC145;
$error:     #FF0000;
$success:   #3DA92B;
$light:     #EEEEEE;
$white:     #ffffff;
$black:     #212121;


$mainFont: 'Montserrat',
sans-serif;
// $ligth: 300;
// $regular: 400;
// $bold: 700;
// $black: 900;