@import "../bases/variables";
@import "../bases/mixins";
.chat{
    &{
        border-radius: .8em;
        height: auto;
        justify-content: space-between;
        align-items: center;
        padding: 1em 1em .5em;
        position: relative;
        width: 15.5em;
        flex-flow: row;
        display: flex;
    }
    &.reply{
        fill: $light;
        background-color: $light;
    }
    &.response{
        fill: $primary;
        background-color: $primary;
    }
    & .user-icon{
        width: auto;
        flex-basis: 25%;
    }
    & .cont-chat{
        &{
            margin-left: 1em;
            flex: 1;
        }
        & p{
            word-break: break-all;
        }
    }
    & .cont-chat-description{
        display: flex;
        justify-content: space-between;
        margin-top: 1em;

        & button{
            background-color: transparent;
            border: none;
            color: #6e6e6e;
        }
    }
}

// .chat .user-icon{
//     width: auto;
//     flex-basis: 25%;
// }

// .cont-chat{
//     &{
//         margin-left: 1em;
//         flex: 1;
//     }
//     & p{
//         word-break: break-all;
//     }
// }
