@import "../bases/variables";
@import "../bases/mixins";

.cont-create-publication{
    & .cont-create-publication-header{
        display: flex;
        height: 5em;
        justify-content: space-between;
        align-items: center;
        margin: 1em 0;
        
        & .cont-create-publication-header-icon{
            display: block;
            @include desktop{
                display: none;
            }
        }

        & button{
            font-size: 1em;
        }
    }
    & .cont-create-publication-body{
        display: flex;
        margin-bottom:2em ;
        flex-direction: column;
        background-color:$light;
        padding: 0 1em;
        & div{
            margin:1em 0;
        }

        & .cont-create-publication-body-boolean-button{
            margin: 1em 0;
            
            & div{
                display: flex;
                justify-content: flex-start;
            }

            & div label{
                margin: 0 1em;
            }
        }

        & .cont-create-publication-body-tittle{
            display: flex;
            flex-flow: column;

            & .cont-create-publication-body-input-label{
                display: flex;
                justify-content: center;

                & .create-publication-body-input-label{
                    width: 10em;
                    height: 5em;
                    background-color: $light;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 2em;
                    border: 1px solid;
                    border-radius: 5px;
                    & form{
                        width: 100%;
                        height: 100%;
                        position: relative;
                        & input[type=file]{
                            width: 100%;
                            height: 100%;
                            opacity: 0;
                        }
                        & p{
                            left: 49%;
                            position: absolute;
                            top: 30%;
                            font-size: 1em;
                        }
                    }
                    
                }
            }
            & div textarea{
                border: 1px solid $black;
            }
            
        }
    }
}
.create-publication-new-publication-input{
    content:"";
}
//     @include tablet {
//         }
// }
