.footer-mobile{
    padding: 1.2em;
    &.black {
        background-color: #212121;
    }
    &.white {
        background-color: #EEEEEE;
        img {
            filter: brightness(0) saturate(100%) invert(0%) sepia(85%) saturate(7500%) hue-rotate(193deg) brightness(80%) contrast(113%);
        }
    }
    .container-footer{
        width: 80%;
    }
}