@import "../bases/variables";

body {
    background-color: rgba(123, 97, 255, 100%);
}

.footer{
    &.bg-footer{
        background-color: $black;
    }
    &.bg-footer.trasparent{
        background-color: rgba(255, 255, 255, 0.27);
        font-weight:700;
    }
}
.container-footer{
    padding: 3.5rem 0;
    color:$light;
    font-size: 2rem;
}
