@import "../bases/variables";

body {
    background-color: #000;
}

.content-showroom-long-card{
    width: 18em;
}

.long-card {
    padding: 1.5em;
    width: 100%;
    background: rgba(255, 255, 255, 0.86);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    &.primary{
        padding: 1em;
        background-color: #f2f2f2;
        h4 {
            color: #333;
        }
        p {
            color: #808080;
        }
    }
    &.secundary{
        color: #333;
        background-color: lighten($primary, 20%);
    }
    h4 {
        margin-bottom: 1em;
    }

    p {
        margin-bottom: 0.8em;
    }
}