@import "../bases/mixins";
@import "../bases/variables";


.publication-container {
    display: grid;
    row-gap: 6rem;
    margin-bottom: 10rem;
}

.publication{
    background-color: rgb(255, 255, 255);
    border: 1px dashed $secundary;
    padding: 1.5rem 3rem;
    height: auto;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);

    img, video{
        margin: 1rem 0;
        width: 95%;
        max-height: 40rem;
        object-fit: contain;
    }

    audio {
        width: 80%;
    }
    
    .media-publication {
        p{
            margin: 1rem 0;
            }
    }
    .comments-user{
        font-size: 0.7rem;
        @include desktop{
            font-size: 1rem;
        }
        a{
            font-size: 1.5rem;
            @include desktop{
                font-size: 2rem;
            }
        }
    }
    
    .header-publication{
        .user-icon{
            width: 9rem;
        }
        @include desktop{
            font-size: 1.5rem;
            .user-icon{
                width: 12rem;
            }
        }
    }
}