@import "../bases/variables";

body {
    background-color: rgba(123, 97, 255, 100%);
  }

.user-icon{
    width: 7em;
    img{
        border-radius: 50%;
    }
    &.basic, &.connect, &.disconnect{
        img{
            border: 0.3rem solid $light;
        }
    }
    &.connect, &.disconnect{
        position: relative;
        &::after{
            bottom: 0;
            right: 0;
            position: absolute;
            width: 2.2em;
            height: 2.2em;
            content: '';
            display: block;
            border-radius: 50%;
            border: 0.3rem solid $light;
            
        }
    }

    &.disconnect{
        &::after{
            background-color: rgb(202, 200, 200);
        }
    }

    &.connect{
        &::after{
            background-color: $success;
        }
    }

    &.shadow{
        filter: drop-shadow(0.2rem 0.5rem 1rem rgba(0, 0, 0, 0.4))
    }
}