@import "../bases/variables";
@import "../bases/mixins";

#svg-filtro-principal{ }
#svg-filtro-light{ }

.chat-container{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.chat{
    &{
        position: relative;
        display: flex;
        flex-direction: column;
        width: 15.5em;
        height: 5.5em;
        padding: 1em 1em 0.5em 1em;
        border-radius: 0.8em;
        justify-content: space-between;
    }
    &.reply{
        fill: $light;
        background-color: $light;
    }
    &.response{
        fill: $primary;
        background-color: $primary;
    }
    &.chat-end{
        &.reply:after{
            position: absolute;
            content: url("../../../static/img/icons/triangle.svg");
            filter:url("../../../static/img/icons/triangle.svg") invert(99%) sepia(2%) saturate(138%) hue-rotate(69deg) brightness(114%) contrast(87%);
            bottom:-0.6rem;
            left:-1.2rem;
        }
        &.response:after{
            position: absolute;
            content: url("../../../static/img/icons/triangle.svg");
            filter:url("../../../static/img/icons/triangle.svg") invert(62%) sepia(32%) saturate(405%) hue-rotate(125deg) brightness(97%) contrast(88%);
            bottom:-0.6rem;
            right:-1.2rem;
        }
    }
}

.chat-DateTime{
    text-align: right;
    font-size: 0.75em;
}