@import '../bases/variables';

.header{
    &.bg-header{
        background-color: $black;
    }
    .container-header{
        display:flex;
        justify-content: space-between;
        padding: 2rem 0;
    }
    .main-logotype{
        display: flex;
        column-gap: 2rem;
        h1{
            font-size: 4rem;
            align-items: center;
        }
    }
}