body {
    background-color: #AEA4E8;
}

div {
    width: 12em;
}

.heading {
    hr {
        border: none;
        height: 2px;
    }
    &.white {
        color: #EEE;
        hr {
            background-color: #EEE;
        }
    }&.black {
        color: #000;
        hr {
            background-color: #000;
        }
    }
}