.radio-button{
    background-color: #F2F2F2;
    padding: 0.5em;
    .black {
        color: #000;
    }
    
    .gray {
        color: #585858;
    }
    input {
        margin: 0 0.5em;
    }
}