{% extends "base.html" %}

{% from "components/utils/user-icon.html" import user_icon %}
{% from "components/utils/buttons.html" import buttons %}
{% from "components/utils/input.html" import input %}
{% from "all_components/header.html" import header %}

{% block extrastyles %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@2.4.21/dist/css/splide.min.css"><link rel="stylesheet" href="{{ url_for('static', filename='css/publicationpage.css') }}">
{% endblock %}

{% block title %}{{ _("Create") if create else _("Edit") }} {{_(' Post') }}{% endblock title %}
{% block body %}

{{ header(classname="bg-header", user=user) }}
<form method="POST" id="publication-form" enctype="multipart/form-data">
    <div class="container-styles container margin-section">
        <div class="cont-create-publication">
            {{ user_icon(
                user=user,
                type="basic",
            ) }}
            <div class="heading black">
                <h3 class="fw-normal">
                    {{ _('Modify Publication') }}
                </h3>
            </div>
            <hr class="linea">
            {{ form.csrf_token }}
            <div class="public-button">
                {{buttons(
                    mensaje=_("Create") if create else _("Edit"),
                    type="primary",
                    font="fw-bold",
                    letters="text-uppercase"
                )}}
            </div>
            <div class="cont-create-publication-body-boolean-button">
                {{ input(
                    field_wrapper_class="boolean-button d-flex jc-space_between",
                    field=form.public,
                    label_class="d-flex fw-bold black",
            )}}
            </div>
            <div class="input-label-title">
                {{ input(
                    field=form.title,
                    placeholder=_("Write Title"),
                    field_class="white w-100",
                    label_class="d-flex fw-bold black",
                )}}
            </div>
            <div class="input-label-content">
                {{ input(
                    field=form.description,
                    placeholder=_("Write Content"),
                    field_class="white w-100",
                    label_class="d-flex fw-bold black",
                )}}
            </div>
            {{ input(
                field=form.media,
                label=False,
                field_class="d-none",
                id="file-upload-image-publication",
            )}}

        </div>

        <div class="container-upload-data">
            <div class="container-display" >
                <div class="cont-create-publication-body-input-label">
                    <img src="{{ url_for('static', filename='img/post/default-preview-img.png') }}" alt="Preview image">
                </div>
            </div>
        </div>

        <template id=image-preview-element>
            <div class="container-upload-data">
                <div class="container-display" >
                    <div class="cont-create-publication-body-input-label">
                        <img src="{{ url_for('static', filename='img/post/default-preview-img.png') }}" alt="Preview image">
                    </div>
                </div>
            </div>
        </template>
        
        <template id=splide-element>
            <div class="container-splide-data container-display" >
                <div class="cont-create-publication-body-input-label">
                    <div class="splide">
                        <div class="splide__track">
                            <ul class="splide__list">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </template>

        <div class="container-display" >
            <div class="container-buttons">
                <label for="file-upload-image-publication" id='label-input' class="button secundary fw-bold text-uppercase">{{_("Add")}}</label>
                <button disabled id="delete-files"  class="button dissable secundary fw-bold text-uppercase">{{_("Remove")}}</button>
            </div>
        </div>

    </div>
</form>

{% endblock body %}

{% block onloadscripts %}<script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@2.4.21/dist/js/splide.js"></script>
<script>
const inputFile = document.getElementById("file-upload-image-publication");
const deleteFiles = document.querySelector('#delete-files');
const labelInfo = document.querySelector('#label-input')

const handleFiles = function (event) {

    if (window.File && window.FileList && window.FileReader) {

        labelInfo.classList.add('dissable');
        deleteFiles.classList.remove('dissable');
        deleteFiles.removeAttribute('disabled');
        var files = event.target.files; //FileList object
        var output = document.querySelector(".splide__list");
        const mainContainer = document.querySelector('.container-styles');
        const splideAppear = document.querySelector('#splide-element');
        const dup = splideAppear.content.firstElementChild.cloneNode(true);
        const previewImage = document.querySelector('.container-upload-data');
        mainContainer.replaceChild(dup, previewImage);
        const splide = new Splide( '.splide' ).mount();

        for (var i = 0; i < files.length; i++) {
            
            var file = files[i];
            var div = document.createElement("LI");            
            div.classList.add("create-publication-body-input-label");
            div.classList.add("splide__slide");
            div.classList.add("black");
            let new_file;
            if (file.type.match('image')) {
                new_file = document.createElement("img");
            } else if (file.type.match('video')) {
                new_file = document.createElement("video");
                new_file.setAttribute("controls", true);
            } else {
                new_file = document.createElement("audio");
                new_file.setAttribute("controls", true);
            }
            new_file.src = URL.createObjectURL(file)
            new_file.classList.add("image-size");
            div.appendChild(new_file)
            splide.add(div); 
        }

    } else {
        console.log("Your browser does not support File API");
    }
}

deleteFiles.addEventListener('click', (e) => {
    e.preventDefault();
    inputFile.removeAttribute('disabled');
    deleteFiles.setAttribute('disabled', '');
    const mainContainer = document.querySelector('.container-styles');
    const imageAppear = document.querySelector('#image-preview-element');
    const dup = imageAppear.content.firstElementChild.cloneNode(true);
    const splideElement = document.querySelector('.container-splide-data');
    mainContainer.replaceChild(dup, splideElement);
    deleteFiles.classList.add('dissable');
    labelInfo.classList.remove('dissable');
});

inputFile?.addEventListener("change", handleFiles, false);
</script>
{% endblock onloadscripts %}
