{% extends "base.html" %}

{% from "all_components/user-icon.html" import user_icon %}
{% from "all_components/buttons.html" import buttons %}
{% from "all_components/header.html" import header %}
{% from "all_components/footer.html" import footer%}
{% from "all_components/input-label.html" import inputLabel %}
{% from "all_components/footer-mobile.html" import footer_mobile %}

{% block extrastyles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/publicationpage.css') }}">{% endblock %}

{% block title %}{{ _('Modify Publication') }}{% endblock title %}
{% block body %}

{{ header(classname="bg-header") }}
<div class="cont-create-publication container margin-section">
    {{ user_icon(
    img=url_for('static', filename='img/users/26956071.png'),
    alt="User2 Photo",
    type="basic",
    url=url_for('user.profile', username='vittorio_adesso'),
    png=url_for('static', filename='img/users/26956071.png'),
    webp=url_for('static', filename='img/users/26956071.webp')
    ) }}
    <div class="heading black">
        <h3 class="fw-normal">
            Modify Publication
        </h3>
    </div>
    <hr class="linea">
    <div class="cont-create-publication-body-input-label">
        <div class="create-publication-body-input-label">
            <form method="POST" id="publication-form">
                {{ form.csrf_token }}
                <div class="public-button">
                    <button class="button primary fw-bold text-uppercase" type="submit">
                        Edit
                    </button>
                </div>
                <div class="cont-create-publication-body-boolean-button">
                    <!-- TODO hacer que de aqui se obtenga el valer de public -->
                </div>
                <div class="input-label-title">
                    <label class="d-flex fw-bold black" id="description">Title</label>
                    <!--TODO cambiar el value por el que trae en la bd en el caso de edit -->
                    <input class="white w-100" type="text" id="description" name="description" value="UCV, la casa de las sombras"> 
                    {{inputLabel(
                        type='text',
                        classInput='white w-100',
                        classLabel='black',
                        textLabel="Tittle",
                        placeholderText="Write Title",
                        value="UCV, la casa de las sombras"
                    )}}
                    
                </div>
                <div class="input-label-content">
                    <div class="input-label">
                        <label class="d-flex fw-bold black">Content</label>
                        <textarea rows="5" cols="21"  form="publication-form" class="white w-100" name="content" id="content" placeholder="Write Content" >
                        "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi obcaecati ullam non ipsa
                        ipsum at! Consequuntur aspernatur, fugiat, quia tempora repudiandae amet ab vitae at deleniti
                        temporibus, asperiores quasi nihil.Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum,
                        corporis assumenda. Asperiores delectus porro deserunt provident officia, mollitia necessitatibus
                        explicabo exercitationem alias possimus expedita, similique cum accusantium fugit pariatur eum.
                        </textarea>
                    </div>
                </div>
                <input type="file" class="create-publication-new-publication-input" value='+'>
            </form>
        </div>
    </div>
</div>
{{footer_mobile(class="black")}}
{{ footer() }}

{% endblock body %}
