{% extends "base.html" %}

{% from "components/utils/user-icon.html" import user_icon %}
{% from "components/utils/buttons.html" import buttons %}
{% from "components/utils/input.html" import input %}
{% from "all_components/header.html" import header %}

{% block extrastyles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/publicationpage.css') }}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/css/splide.min.css">
{% endblock %}

{% block title %}{{ _('Modify Publication') }}{% endblock title %}
{% block body %}

{{ header(classname="bg-header") }}
<form method="POST" id="publication-form" enctype="multipart/form-data">
<div class="cont-create-publication container margin-section">
    {{ user_icon(
    user=user,
    type="basic",
    ) }}
    <div class="heading black">
        <h3 class="fw-normal">
            {{ _('Modify Publication') }}
        </h3>
    </div>
    <hr class="linea">
    {{ form.csrf_token }}
    <div class="public-button">
        {{buttons(
            mensaje=_("Publish") if create else _("Edit"),
            type="primary",
            font="fw-bold",
            letters="text-uppercase"
        )}}
    </div>
    <div class="cont-create-publication-body-boolean-button">
        {{ input(
            field_wrapper_class="boolean-button d-flex jc-space_between",
            field=form.public,
            label_class="d-flex fw-bold black",
       )}}
    </div>
    <div class="input-label-title">
        {{ input(
            field=form.title,
            placeholder=_("Write Title"),
            field_class="white w-100",
            label_class="d-flex fw-bold black",
        )}}

    </div>
    <div class="input-label-content">
        {{ input(
            field=form.description,
            placeholder=_("Write Content"),
            field_class="white w-100",
            label_class="d-flex fw-bold black",
        )}}
    </div>
    <div class="cont-create-publication-body-input-label">
        <div class="create-publication-body-input-label">
            <div>
            {{ input(
                field=form.media,
                label=False,
                field_class="d-none",
                id="file-upload-image-publication",
            )}}
                <div class="change-image-publication" >
                    <div  >
                        <label id="change-image-publication" for="file-upload-image-publication">+</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</form>
<div class="splide">
    <div class="splide__track">
        <ul class="splide__list">
            <li class="splide__slide">    {{ user_icon(
                user=user,
                type="basic",
                ) }}</li>
            <li class="splide__slide">    {{ user_icon(
                user=user,
                type="basic",
                ) }}</li>
            <li class="splide__slide">    {{ user_icon(
                user=user,
                type="basic",
                ) }}</li>
        </ul>
    </div>
</div>

{% endblock body %}
