<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="../../static/img/logo.svg"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="../../static/css/app.css" />
    <link rel="stylesheet" href="../../static/css/components/user-icon.css" />
    <link rel="stylesheet" href="../../static/css/components/chat.css" />
    <title>Chat</title>
  </head>
<body>
    <div class="chat-container container">
        <br>
        <div class="chat chat-body reply">
            <p class="chat-body">So much Text that edu cant imaginate more text</p>
            <p class="chat-DateTime">Date Time</p>
        </div>
        <br>
        <div class="chat chat-end reply">
            <p class="chat-body">So much Text that edu cant imaginate more text</p>
            <p class="chat-DateTime">Date Time</p>
        </div>
        <br>
        <div class="chat chat-body response">
            <p class="chat-body">So much Text that edu cant imaginate more text</p>
            <p class="chat-DateTime">Date Time</p>
        </div>
        <br>
        <div class="chat chat-end response">
            <p class="chat-body">So much Text that edu cant imaginate more text</p>
            <p class="chat-DateTime">Date Time</p>
        </div>
        <br>
        <div class="chat chat-end reply">
            <p class="chat-body">So much Text that edu cant imaginate more text</p>
            <p class="chat-DateTime">Date Time</p>
        </div>
        <br>
        <div class="chat chat-end response">
            <p class="chat-body">So much Text that edu cant imaginate more text</p>
            <p class="chat-DateTime">Date Time</p>
        </div>
    </div>
</body>