<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="../../static/img/logo.svg" type="image/x-icon" />
    <link rel="stylesheet" href="../../static/css/app.css" />
    <link rel="stylesheet" href="../../static/css/components/header_publication.css" />
    <title>Header Publication</title>
</head>

<body>

    <!-- Variant1: Mobile -->
    <div class="w-25"> <!-- this div is not part of the component -->
        <div class="d-flex jc-space_between">
            <div class="d-flex">
                <img src="../../static/img/users/26272390.webp" alt="user-icon" class="user">
                <div>
                    <h2>Input Publication</h2>
                    <div class="d-flex jc-space_between">
                        <p>Author</p>
                        <p>Time</p>
                    </div>
                </div>
            </div>
            <img src="../../static/img/icons/menu_3_puntos_horizontal.svg" alt="menu_3_puntos_horizontal" class="w-2">
        </div>
    </div>

</body>

</html>