<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="../../static/img/logo.svg"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="../../static/css/app.css" />
    <link rel="stylesheet" href="../../static/css/components/header.css" />
    <title>Header</title>
  </head>
  <body>
    <header class="header bg-header">
      <div class="container container-header">
        <a href="#">
          <div class="main-logotype">
            <img src="../../static/img/logo.svg" alt="DEGVA logotype" />
            <h1>DEGVA</h1>
          </div>
        </a>
        <div class="container-right">
          <form class="form-search">
            <label for="search"></label>
            <input type="text" id="search" />
            <button class="button-search">
              <img
                class="icon logotype"
                src="../../static/img/icons/search.svg"
                alt="Notifications logotype"
              />
            </button>
          </form>

          <nav class="navegation">
            <a href="#" class="search">
              <img
                class="icon"
                src="../../static/img/icons/search.svg"
                alt="Notifications logotype"
              />
            </a>
            <a href="#">
              <img
                class="icon"
                src="../../static/img/icons/notifications.svg"
                alt="Notifications logotype"
              />
            </a>
            <a href="#">
              <img
                class="icon"
                src="../../static/img/icons/settings.svg"
                alt="Notifications logotype"
              />
            </a>
            <a href="#">
              <img
                class="icon"
                src="../../static/img/icons/logout.svg"
                alt="Notifications logotype"
              />
            </a>
          </nav>
        </div>
      </div>
    </header>

    <div class="div margin-section"></div>

    <header class="header bg-header transparent">
      <div class="container container-header">
        <a href="#">
          <div class="main-logotype">
            <img src="../../static/img/logo.svg" alt="DEGVA logotype" />
            <h1>DEGVA</h1>
          </div>
        </a>
        <div class="container-right">
          <form class="form-search">
            <label for="search"></label>
            <input type="text" id="search" />
            <button class="button-search">
              <img
                class="icon logotype"
                src="../../static/img/icons/search.svg"
                alt="Notifications logotype"
              />
            </button>
          </form>

          <nav class="navegation">
            <a href="#" class="search">
              <img
                class="icon"
                src="../../static/img/icons/search.svg"
                alt="Notifications logotype"
              />
            </a>
            <a href="#">
              <img
                class="icon"
                src="../../static/img/icons/notifications.svg"
                alt="Notifications logotype"
              />
            </a>
            <a href="#">
              <img
                class="icon"
                src="../../static/img/icons/settings.svg"
                alt="Notifications logotype"
              />
            </a>
            <a href="#">
              <img
                class="icon"
                src="../../static/img/icons/logout.svg"
                alt="Notifications logotype"
              />
            </a>
          </nav>
        </div>
      </div>
    </header>

    <div class="div margin-section"></div>

    <header class="header waves">
      <div class="container container-header">
        <a href="#">
          <div class="main-logotype">
            <img src="../../static/img/logo.svg" alt="DEGVA logotype" />
            <h1>DEGVA</h1>
          </div>
        </a>
        <div class="container-right">
          <form class="form-search">
            <label for="search"></label>
            <input type="text" id="search" />
            <button class="button-search">
              <img
                class="icon logotype"
                src="../../static/img/icons/search.svg"
                alt="Notifications logotype"
              />
            </button>
          </form>

          <nav class="navegation">
            <a href="#" class="search">
              <img
                class="icon"
                src="../../static/img/icons/search.svg"
                alt="Notifications logotype"
              />
            </a>
            <a href="#">
              <img
                class="icon"
                src="../../static/img/icons/notifications.svg"
                alt="Notifications logotype"
              />
            </a>
            <a href="#">
              <img
                class="icon"
                src="../../static/img/icons/settings.svg"
                alt="Notifications logotype"
              />
            </a>
            <a href="#">
              <img
                class="icon"
                src="../../static/img/icons/logout.svg"
                alt="Notifications logotype"
              />
            </a>
          </nav>
        </div>
      </div>
    </header>
  </body>
</html>

