<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="../../static/img/logo.svg" type="image/x-icon" />
    <link rel="stylesheet" href="../../static/css/app.css" />
    <link rel="stylesheet" href="../../static/css/components/long-cards.css" />
    <title>Long Cards</title>
</head>

<body>
    <div>

        <!-- Variant1: Primary -->
        <div class="card primary">
            <h4>Text Title</h4>
            <p>Text Content</p>
        </div>

        <br>

        <!-- Variant2: Secundary -->
        <div class="card secundary">
            <h4>Text Title</h4>
            <p>Text Content</p>
        </div>

        <br>

        <!-- Variant3: Primary, Long -->
        <div class="card primary long">
            <h4>Text Title</h4>
            <p>Text Content</p>
            <p>Text Content</p>
        </div>

        <br>

    </div>
</body>

</html>