<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="../../static/img/logo.svg"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="../../static/css/app.css" />
    <link rel="stylesheet" href="../../static/css/components/mobile-navmenu.css" />
    <title>Header</title>
  </head>
<body>
    <div class="mobile-navmenu container-menu">
        <ul class="options-tabs">
            <li class="active-tab">
                <button>
                    <img
                    src="../../static/img/icons/publications.svg"
                    alt="Publication tab"
                    />
                </button>
            </li>
            <li>
                <button>
                    <img
                    src="../../static/img/icons/details.svg"
                    alt="Details tab "
                    />
                </button>
            </li>
        </ul>

        <ul class=contents-tabs>
            <li class="active-content">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, repudiandae architecto. Nostrum corrupti quo, sequi adipisci doloribus rerum beatae quae ullam eos. Asperiores architecto nobis, sequi vel quidem dolorem natus.</p>
            </li>
            <li>
                <p>Otro parrafo de oro itemTempora nisi quam vel necessitatibus nulla, delectus amet consequuntur doloribus perspiciatis aliquid numquam, aspernatur enim, veritatis modi. Hic ad eligendi quam laboriosam! Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus sunt perferendis aliquam exercitationem unde maiores dignissimos magni. Itaque corporis reprehenderit suscipit, in odit nihil doloremque magnam facilis repellat rem sunt!</p>
            </li>
        </ul>
    </div>
</body>
</html>