<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="../../static/img/logo.svg" type="image/x-icon" />
    <link rel="stylesheet" href="../../static/css/app.css" />
    <link rel="stylesheet" href="../../static/css/components/notification.css" />
    <title>Notification</title>
</head>

<body>

    <!-- Variant1: White -->
    <div class="w-18 notification white">
        <div class="d-flex">
            <img src="../../static/img/icons/delete.svg" alt="delete">
            <h3>Notification</h3>
            <img src="../../static/img/icons/image.svg" alt="image">
        </div>
        <hr>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
            tempor incididunt ut labore et dolore magna aliqua.
        </p>
    </div>
<br>
    <!-- Variant2: Primary -->
    <div class="w-18 notification primary">
        <div class="d-flex">
            <img src="../../static/img/icons/delete.svg" alt="delete">
            <h3>Notification</h3>
            <img src="../../static/img/icons/image.svg" alt="image">
        </div>
        <hr>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
            tempor incididunt ut labore et dolore magna aliqua.
        </p>
    </div>

</body>

</html>