<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="../../static/img/logo.svg"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="../../static/css/app.css" />
    <link rel="stylesheet" href="../../static/css/components/user-icon.css" />
    <title>User-icon</title>
  </head>
<body>

    <!-- User basic -->
    <div class="user-icon basic">
        <a href="#">
            <picture>
                <source srcset="../../static/img/users/25641651.webp" type="image/webp">
                <source srcset="../../static/img/users/25641651.png" type="image/png">
                <img loading="lazy" src="../../static/img/users/25641651.png" alt="User1 Photo">
            </picture>
        </a>
    </div>

    <div class="margin-section"></div>

    <!-- User profile shadow -->
    <div class="user-icon shadow">
        <a href="#">
            <picture>
                <source srcset="../../static/img/users/26956071.webp" type="image/webp">
                <source srcset="../../static/img/users/26956071.png" type="image/png">
                <img loading="lazy" src="../../static/img/users/26956071.png" alt="User2 Photo">
            </picture>
        </a>
    </div>

    <div class="margin-section"></div>

    <!-- User connect -->
    <div class="user-icon connect">
        <a href="#">
            <picture>
                <source srcset="../../static/img/users/26838989.webp" type="image/webp">
                <source srcset="../../static/img/users/26838989.png" type="image/png">
                <img loading="lazy" src="../../static/img/users/26838989.png" alt="User3 Photo">
            </picture>
        </a>
    </div>

    <div class="margin-section"></div>

    <div class="user-icon disconnect">
        <a href="#">
            <picture>
                <source srcset="../../static/img/users/26272390.webp" type="image/webp">
                <source srcset="../../static/img/users/26272390.png" type="image/png">
                <img loading="lazy" src="../../static/img/users/26272390.png" alt="User3 Photo">
            </picture>
        </a>
    </div>

    <div class="margin-section"></div>
    <!-- User profile no-shadow -->
    <div class="user-icon">
        <a href="#">
            <picture>
                <source srcset="../../static/img/users/26838989.webp" type="image/webp">
                <source srcset="../../static/img/users/26838989.png" type="image/png">
                <img loading="lazy" src="../../static/img/users/26838989.png" alt="User3 Photo">
            </picture>
        </a>
    </div>

</body>
</html>