{% from "components/user-icon.html" import user_icon %}

{% macro header_publication(img, input, author, time, png="", webp="", url="") -%}
<div class="header-publication">
    <div class="d-flex title-wrap">
        {{ user_icon(
            img=img,
            alt="User Photo",
            type="basic user",
            url=url,
            png=png,
            webp=webp
          ) }}
        <div>
            <h2>{{input}}</h2>
            <div class="d-flex jc-space_between details">
                <p>{{author}}</p>
                <p>{{time}}</p>
            </div>
        </div>
    </div>
    <!-- TODO: change # for url to modify publication (parameter) -->
    <a class="modify" href="{{url_for('posts.modifypublication')}}">
        <img src="{{ url_for('static', filename='img/icons/menu_3_puntos_horizontal.svg') }}"
        alt="menu_3_puntos_horizontal">
    </a>
</div>
{%- endmacro %}

