<!-- TODO creo que se debe agregar que no solo sea texto -->
{% macro mobile_navmenu(details=None, publication=None, url="#") -%}

<div class="mobile-navmenu container-menu">
    <ul class="options-tabs">
        <li id="tab-publication" {% if publication -%} class="active-tab" {%- endif %} ">
            <button id="buttonDetails" {% if details -%} onClick="parent.location='{{url_for('app.home')}}'" {%- endif %}>
                <img src="{{url_for('static', filename='img/icons/publications.svg')}}" alt="Publication tab" />
            </button>
        </li>
        <li id="tab-details" {% if details -%} class="active-tab" {%- endif %} >
            <button id="buttonDetails" {% if publication -%} onClick="parent.location='{{url_for('app.home')}}'" {%- endif %}>
                <img src="{{url_for('static', filename='img/icons/details.svg')}}" alt="Details tab " />
            </button>
        </li>
    </ul>

    <!-- <ul class=contents-tabs>
        <li id="publication" class="active-content">
            {{publication}}
        </li>
        <li id="details">
            {{details}}
        </li>
    </ul> -->
</div>

{%- endmacro %}