{% macro user_icon(img, alt="", type="basic", url="", png="", webp="") -%}
<div class="user-icon {{ type }}">
    <a href="{{ '#' if not alt else alt }}">
        <picture>
            {% if webp -%}
            <source srcset="{{ webp }}" type="image/webp">
            {%- endif %}
            {% if png -%}
            <source srcset="{{ png }}" type="image/png">
            {%- endif %}
            <img loading="lazy" src="{{ img }}" alt="{{ alt }}">
        </picture>
    </a>
</div>
{% endmacro %}
