{% extends "base.html" %}

{% from "all_components/element-friend-list.html" import element_friend_list %}
{% from "all_components/footer-mobile.html" import footer_mobile %}
{% from "all_components/list-friends.html" import list_friends %}
{% from "components/utils/header.html" import header %}
{% from "all_components/chat.html" import chat %} 
{% from "all_components/footer.html" import footer %}

{% block title %} Chat {% endblock title %}

{% block extrastyles %}<link rel="stylesheet" href="{{ url_for('static', filename='css/chat.css') }}" >{% endblock %}

{% block body -%}

{{ header(classname="bg-header", user=user) }}

<div class="main-container-chat container full-mobile margin-section full-mobile">
    <aside id="leftMenu">
      <div class="cont-listaAmigos">  
        <div class="center">
          <div class="section-top-chats">
            <h2>Chats</h2>  
            <button class="closeList">&times;</button>
          </div>
          <hr>
        </div>
        {% set number_friends = 15 %}
        <div class="listChats">
          {% for i in range(number_friends) %}
            {{element_friend_list(
              user='Usuario ' ~ loop.index,
              comunFriends='',
              type='connect',
              trasparent=true,
              png=url_for('static', filename='img/users/26838989.png'),
              webp=url_for('static', filename='img/users/26838989.webp'),
              img=url_for('static', filename='img/users/26838989.png'),
            )}}
          {% endfor %}
        </div>
      </div>
    </aside>
    <main class="main-chat">
        <div class="header-chat">
          <a class="link-icon" href="{{url_for('app.home')}}"">
            <img class="icon back" src="{{ url_for('static', filename='img/icons/back.svg') }}" alt="Back Symbol">
          </a>
            {{element_friend_list(
	        user=user.full_name,
                comunFriends='En linea',
                type='connect',
                trasparent=true,
		img=user.profile_photo.url,
            )}}
            <button class="openList">
              <img loading="lazy" src="{{ url_for("static", filename="img/icons/chat.svg") }}" alt="Chat">
            </button>
        </div>
        <div class="messages" id="chat-body">
        {% if object %}
	    {% for msg in object.messages %}
            {{chat(
                type="reply" if msg.author == user else "response",
                menssage=msg.content,
                date_time=msg.time,
                comment="",
              )}}
	    {% else %}
	    {{ _("Find someone to chat with") }}
	    {% endfor %}

        {% endif %}
        </div>

        <div class="footer-chat">
            <div class="send-message">
		    <input id="chat-input" type="text" placeholder="{{_('Send Text Messages')}}">
                <button data-chat data-target="#chat-input">
                  <img src="{{ url_for('static', filename='img/icons/send_message.svg') }}" alt="">
                </button>
            </div>
        </div>
    </main>
</div>

{% block onloadscripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf-8">

const socket = io()

const chat = document.querySelector("#chat-body");

const add_msg = (msg, pos) => {
const msghtml = `
<div class="chat ${pos} ">
<div class="cont-chat">
<p>${msg.content}</p>
<div class="cont-chat-description">
    <p>${msg.time}</p>
</div>
</div>
</div>`;
chat.innerHTML = chat.innerHTML + msghtml;
};

socket?.on("message", (data)=> {
add_msg(data)
})

const btn = document.querySelector("[data-chat]");
const inp = document.querySelector("#chat-input");
btn?.addEventListener("click", (e)=>{
socket?.emit("message", JSON.stringify({message: inp.value}))
});
</script>

{% endblock onloadscripts %}

{%- endblock body %}
