@import "bases/variables";
@import "bases/mixins";

.main-container-chat{
    margin: 0 auto !important;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    @include desktop{
        margin: 4rem auto !important;
        grid-template-columns: 1fr 3fr;
        height: 72rem;
    }
}

aside{
    font-size: 12px;
    display: none;
    @include desktop{
        display: block;
    }
    .cont-listaAmigos{
        height: 72rem;
        overflow-y: auto;
    }
}

.main-chat{
    background: url("../../../static/img/background-chat.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: fixed;
    @include desktop{
        position: relative;
    }
    
    .header-chat{
        height: 7rem;
        background-color: lighten($primary, 10%);
        font-size: 1.2rem;
        display: flex;
        align-items: center;
        .cont-element-friend-list{
            margin: 0;
            @include desktop{
                padding: 0.5rem 2rem;
            }
            .element_friend_list_user{
                color:$black;
            }
        }
    }

    .footer-chat{
        height: 8rem;
        background-color: lighten($primary, 10%);
        @include desktop{
            position: absolute;
        }
        position: fixed;
        width: 100%;
        padding: 1rem;
        bottom: 0;
        .send-message{
            display: flex;
            justify-content: space-between;
            border-style: inset;
            border-color: $light;
            background: $white;
            border-radius: 2rem;
            width: 100%;
            padding: 1rem;
            input[type=text]{
                flex: 1;
                border: none;
                background: transparent;
            }
            input::placeholder{
                font-style: italic;
            }
            button{
                border: none;
                background: transparent;
                &:hover{
                    cursor: pointer;
                }
            }
        }
    }

    .messages{
        padding: 4rem 2rem;
        padding-bottom: 12rem;
        overflow-y: scroll;
        height: calc(100vh - 15rem);
        @include desktop{    
            height: calc(72rem - 14rem);
        }
        .chat{
            margin: 2rem 0;
            width: 80%;
            @include desktop{
                width: 60%;
            }
        }
        .reply{
            background-color: lighten($primary, 10%);
            margin-right: 0;
            margin-left: auto;
        }
    }

    .link-icon{
        margin: 0 1rem;
        @include desktop{
            display: none;
        }
    }
}

.header, .footer-mobile, .footer{
    display: none;
}

.header, .footer{
    @include desktop{
        display: block;
    }
}