@import "bases/variables";
@import "bases/mixins";

.main-container{
    @include desktop{
        display: grid;
        grid-template-columns: 1fr 3fr;
        column-gap: 3rem;
    }
}

.header-main{
    margin: 2rem auto;
}

aside{
    font-size: 12px;
    display: none;
    @include desktop{
        display: block;
    }
    .button{
        display: block;
    }
}


main{
    @include desktop{
        grid-column: 2;
    }
}