@import "bases/variables";
@import "bases/mixins";

.notifications-view{
    margin: 4rem auto;
    .heading{
        font-size: 2.3rem;
        width: 100%;
        margin-bottom: 4rem;
        @include tablet{
            width: 30%;
            margin-bottom: 2.2rem;
        }
        
    }
    .container-notications{
        @include grid(1, 2rem);
        margin-bottom: 3rem;
        row-gap: 4rem;
        @include tablet{
            @include grid(3, 5rem);
        }
        .notification{
            width: 100%;
            font-size: 15px;
        }
    }
}