@import "bases/variables";
@import "bases/mixins";


.main-container-header{
    display: none;
    @include tablet{
        display: block;
    }
    .bg-header.transparent{
        display: block;
        @include tablet{
            display: block;
    
        }
    }

}

.profile-icon{
    @include tablet{
        justify-content: flex-start;
        p{
            position: absolute;
            bottom: -6.5rem;
        }
    
        .container-name{
            width: 72rem;
            margin: 0 auto;
        }
    }
}

.details{
    margin: 4rem auto;
    p{
        margin: 3.5rem 0;
        text-align: center;
    }
}

.heading{
    font-size: 2rem;
    width: 100%;
    hr{
        @include tablet{
            width: 80%;
        }
        margin-left: 0;
    }

}

.container-header-friends{
    display: grid;
    @include grid(1, 2rem);
    row-gap: 2rem;
    margin: 3.5rem 0;
    .container-search{
        padding: 0.6em 0;
    }
    .search{
        width: 100%;
    }
    @include tablet{
        margin: 0;
        @include grid(2, 2rem);
        font-size: 1rem;
        .search{
            width: 50%;
        }
    }

}

.search-main-container{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.number{
    font-style: italic;
    font-size: 2rem;
    margin-top: 0;
}

.container-friends{
    font-size: 1rem;
    @include grid(1, 2rem);
    row-gap: 2rem;
    @include tablet{
        @include grid(2, 2rem);
    }
    @include desktop{
        @include grid(3, 2rem);
    }
}

.mobile-content{
    @include tablet{
        display: none;
    }
}

.desktop-content{
    @include tablet{
        display: block;
    }
}

.mobile-navmenu{
    @include tablet{
        display: none;
    }
}

.header-group{
    @include tablet{
        background: transparent;
    }
}

.bg-header{
    display: block;
    @include tablet{
        display: none;
    }
}
