{% macro header(classname='') -%}
<header class="header {{classname}}">
    <div class="container container-header">
      <a href="{{url_for('app.home')}}">
        <div class="main-logotype">
          <img
            src="{{ url_for('static', filename='img/logo.svg') }}"
            alt="DEGVA logotype" />
          <h1>DEGVA</h1>
        </div>
      </a>
      <div class="container-right">
        <form class="form-search">
          <label for="search"></label>
          <input type="text" id="search" />
          <button id="button-search" class="button-search" data="{{url_for('user.search')}}">
            <img
              class="icon logotype"
              src="{{ url_for("static", filename="img/icons/search.svg") }}"
              alt="Notifications logotype"
            />
          </button>
        </form>

        <nav class="navegation">
          <a href="{{url_for('user.search')}}" class="search-header">
            <img
              class="icon"
              src="{{ url_for("static", filename="img/icons/search.svg") }}"
              alt="Notifications logotype"
            />
          </a>
          <a href="{{url_for('user.notification')}}">
            <img
              class="icon"
              src="{{ url_for("static", filename="img/icons/notifications.svg") }}"
              alt="Notifications logotype"
            />
          </a>
          <a href="{{url_for('user.config')}}">
            <img
              class="icon"
              src="{{ url_for("static", filename="img/icons/settings.svg") }}"
              alt="Configurations logotype"
            />
          </a>
          <a href="{{url_for('user.logout')}}">
            <img
              class="icon"
              src="{{ url_for("static", filename="img/icons/logout.svg") }}"
              alt="Log out logotype"
            />
          </a>
        </nav>
      </div>
    </div>
</header>
{%- endmacro %}
