<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="{% block viewport %}width=device-width, initial-scale=1.0{% endblock %}" />
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='img/logo.svg') }}"
      type="image/x-icon"
    />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

    <title>{% block title %}{% endblock %}</title>

    {% block extrahead %}{% endblock %}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/components.css') }}" >
    {% block extrastyles %}{% endblock %}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}" >

    <script type="module" src="{{ url_for('static', filename='js/components.js') }}" ></script>
    {% block extrascripts %}{% endblock %}
  </head>
  <body>
    {% block body %}{% endblock %}
    {% block onloadscripts %}{% endblock %}
  </body>
</html>
