<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="../../static/img/logo.svg"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="../../static/css/app.css" />
    <link rel="stylesheet" href="../../static/css/components/buttons.css" />
    <title>Buttons</title>
  </head>
<body>
	<div class="button-container">
		<button class="button primary text-uppercase fw-bold">
			Boton 1
		</button>

		<div class="margin-section"></div>

		<button class="button secundary text-uppercase fw-bold">
			Boton 2
		</button>
		
		<div class="margin-section"></div>

		<button class="button transparent text-uppercase fw-bold">
			Boton 3
		</button>

		<div class="margin-section"></div>

		<button class="button primary fw-normal">
			Boton 4
		</button>

	</div>

</body>
</html>