{% extends "showroom/base.html" %}

{% block title %}{{ _('Chat') }}{% endblock title %}

{% block body %}
<div class="chat-container container">
  <br>
  <div class="chat chat-body reply">
    <p class="chat-body">So much Text that edu cant imaginate more text</p>
    <p class="chat-DateTime">Date Time</p>
  </div>
  <br>
  <div class="chat chat-end reply">
    <p class="chat-body">So much Text that edu cant imaginate more text</p>
    <p class="chat-DateTime">Date Time</p>
  </div>
  <br>
  <div class="chat chat-body response">
    <p class="chat-body">So much Text that edu cant imaginate more text</p>
    <p class="chat-DateTime">Date Time</p>
  </div>
  <br>
  <div class="chat chat-end response">
    <p class="chat-body">So much Text that edu cant imaginate more text</p>
    <p class="chat-DateTime">Date Time</p>
  </div>
  <br>
  <div class="chat chat-end reply">
    <p class="chat-body">So much Text that edu cant imaginate more text</p>
    <p class="chat-DateTime">Date Time</p>
  </div>
  <br>
  <div class="chat chat-end response">
    <p class="chat-body">So much Text that edu cant imaginate more text</p>
    <p class="chat-DateTime">Date Time</p>
  </div>
</div>
{% endblock body %}
