<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="../../static/img/logo.svg"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="../../static/css/app.css" />
    <link rel="stylesheet" href="../../static/css/components/user-icon.css" />
    <link rel="stylesheet" href="../../static/css/components/comments-users.css" />
    <title>Comments-users</title>
  </head>
<body>
    <div class="comments-user">
        <div class="comments-group">
            <div class="user-icon basic one">
                <a href="#">
                    <picture>
                        <source srcset="../../static/img/users/25641651.webp" type="image/webp">
                        <source srcset="../../static/img/users/25641651.png" type="image/png">
                        <img loading="lazy" src="../../static/img/users/25641651.png" alt="User1 Photo">
                    </picture>
                </a>
            </div>
            <div class="user-icon basic two">
                <a href="#">
                    <picture>
                        <source srcset="../../static/img/users/25641651.webp" type="image/webp">
                        <source srcset="../../static/img/users/25641651.png" type="image/png">
                        <img loading="lazy" src="../../static/img/users/25641651.png" alt="User1 Photo">
                    </picture>
                </a>
            </div>
            <div class="user-icon basic three">
                <a href="#">
                    <picture>
                        <source srcset="../../static/img/users/25641651.webp" type="image/webp">
                        <source srcset="../../static/img/users/25641651.png" type="image/png">
                        <img loading="lazy" src="../../static/img/users/25641651.png" alt="User1 Photo">
                    </picture>
                </a>
            </div>
        </div>
        <a href="#">Ver comentarios</a>
    </div>
    
</body>
</html>