{% extends "showroom/base.html" %}

{% block title %} Header Main {% endblock title %}
{% block body %}
  <div class="margin-section">
    <div class="header-main container">
        <!-- User profile shadow -->
        <div class="section-left">
          <div class="user-icon shadow">
            <a href="#">
                <picture>
                    <source srcset="{{ url_for("static", filename="img/users/26956071.webp") }}" type="image/webp">
                    <source srcset="{{ url_for("static", filename="img/users/26956071.png") }}" type="image/png">
                    <img loading="lazy" src="{{ url_for("static", filename="img/users/26956071.png") }}" alt="User2 Photo">
                </picture>
            </a>
          </div>
          <button class="button create fw-normal">
            What do you think?...
          </button>
        </div>
        <button class="button primary with-icon fw-normal">
          <img src="../../static/img/icons/notifications.svg" alt="Messages Icon">
          Messages
        </button>
    </div>

    </div>
{% endblock body %}