{% extends "showroom/base.html" %}
{% from "components/chat.html" import chat %}
{% block title %}{{ _('List-commnets') }}{% endblock title %}
{% block body -%}
<div class="cont-list-comments container">
    <div class="header-list-comments">
        <h2>Comments</h2>
        <hr>
    </div>
    <div class="margin-section"></div>
    <div class="list-comments">
        <div class="item right">
            {{chat(
                type="reply",
                menssage="Comment One Comment One Comment One Comment One Comment One Comment One",
                date_time="Date Time",
                comment="1",
                png=url_for('static', filename='img/users/25641651.png'),
                webp=url_for('static', filename='img/users/25641651.webp'),
                alt="Edu"
              )}}
        </div>
        <div class="margin-section"></div>
        <div class="item left">
            {{chat(
                type="response",
                menssage="@Reply to Comment One",
                date_time="Date Time",
                comment="1",
                png=url_for('static', filename='img/users/26956071.png'),
                webp=url_for('static', filename='img/users/26956071.webp'),
                alt="Gabi"
            )}}
        </div>
        <div class="margin-section"></div>
        <div class="item right">
            {{chat(
                type="response",
                menssage="Comment Three",
                date_time="Date Time",
                comment="1",
                png=url_for('static', filename='img/users/26838989.png'),
                webp=url_for('static', filename='img/users/26838989.webp'),
                alt="Creo que vitto"
            )}}
        </div>
        <div class="margin-section"></div>
        <div class="item left">
            {{chat(
                type="reply",
                menssage="Comment Four",
                date_time="Date Time",
                comment="1",
                png=url_for('static', filename='img/users/26272390.png'),
                webp=url_for('static', filename='img/users/26272390.webp'),
                alt="Creo que Daniel"
            )}}
    </div>
</div>
{%- endblock body %}