{% extends "showroom/base.html" %}
{% from "components/list-friends.html" import list_friends %}

{% block title %}{{ _('List of Friends') }}{% endblock title %}
{% from "components/buttons.html" import buttons %}

{% block body %}
<div class="margin-section"></div>

<div class="container" style="width: fit-content;">
    <!-- To create the list is necesary create the following div -->
    <div class="cont-listaAmigos">
        <h2>Lista de amigos</h2>
        {{list_friends(
        img=url_for('static', filename='img/users/26838989.png'),
        name="User 1",
        alt="User1 Photo",
        type="connect",
        comunFriends="Comun Friends",
        png=url_for('static', filename='img/users/26838989.png'),
        webp=url_for('static', filename='img/users/26838989.webp')
        )}}

        {{list_friends(
        img=url_for('static', filename='img/users/25641651.png'),
        name="User 2",
        alt="User2 Photo",
        type="connect",
        comunFriends="Comun Friends",
        png=url_for('static', filename='img/users/25641651.png'),
        webp=url_for('static', filename='img/users/25641651.webp')
        )}}

        {{list_friends(
        img=url_for('static', filename='img/users/26272390.png'),
        name="User 3",
        alt="User3 Photo",
        type="connect",
        comunFriends="Comun Friends",
        png=url_for('static', filename='img/users/26272390.png'),
        webp=url_for('static', filename='img/users/26272390.webp')
        )}}

        {{buttons(
        mensaje="See All",
        type="primary",
        font="fw-bold",
        letters="text-uppercase")
        }}
    </div>
</div>
{% endblock body %}