{% extends "showroom/base.html" %}

{% from "components/user-icon.html" import user_icon %}
{% from "components/header-publication.html" import header_publication %}

{% block title %} Muro {% endblock title %}
{% block extrastyles %}<link rel="stylesheet" href="{{ url_for('static', filename='css/muro.css') }}" >{% endblock %}

{% block body %}
<header class="header waves">
    <div class="container container-header">
      <a href="#">
        <div class="main-logotype">
          <img
            src="{{ url_for('static', filename='img/logo.svg') }}"
            alt="DEGVA logotype" />
          <h1>DEGVA</h1>
        </div>
      </a>
      <div class="container-right">
        <form class="form-search">
          <label for="search"></label>
          <input type="text" id="search" />
          <button class="button-search">
            <img
              class="icon logotype"
              src="../../static/img/icons/search.svg"
              alt="Notifications logotype"
            />
          </button>
        </form>

        <nav class="navegation">
          <a href="#" class="search-header">
            <img
              class="icon"
              src="{{ url_for("static", filename="img/icons/search.svg") }}"
              alt="Notifications logotype"
            />
          </a>
          <a href="#">
            <img
              class="icon"
              src="{{ url_for("static", filename="img/icons/notifications.svg") }}"
              alt="Notifications logotype"
            />
          </a>
          <a href="#">
            <img
              class="icon"
              src="{{ url_for("static", filename="img/icons/settings.svg") }}"
              alt="Notifications logotype"
            />
          </a>
          <a href="#">
            <img
              class="icon"
              src="{{ url_for("static", filename="img/icons/logout.svg") }}"
              alt="Notifications logotype"
            />
          </a>
        </nav>
      </div>
    </div>
</header>
<header class="header bg-header">
    <div class="container container-header">
      <a href="#">
        <div class="main-logotype">
          <img
            src="{{ url_for('static', filename='img/logo.svg') }}"
            alt="DEGVA logotype" />
          <h1>DEGVA</h1>
        </div>
      </a>
      <div class="container-right">
        <form class="form-search">
          <label for="search"></label>
          <input type="text" id="search" />
          <button class="button-search">
            <img
              class="icon logotype"
              src="{{ url_for("static", filename="img/icons/search.svg") }}"
              alt="Notifications logotype"
            />
          </button>
        </form>

        <nav class="navegation">
          <a href="#" class="search-header">
            <img
              class="icon"
              src="{{ url_for("static", filename="img/icons/search.svg") }}"
              alt="Notifications logotype"
            />
          </a>
          <a href="#">
            <img
              class="icon"
              src="{{ url_for("static", filename="img/icons/notifications.svg") }}"
              alt="Notifications logotype"
            />
          </a>
          <a href="#">
            <img
              class="icon"
              src="{{ url_for("static", filename="img/icons/settings.svg") }}"
              alt="Notifications logotype"
            />
          </a>
          <a href="#">
            <img
              class="icon"
              src="{{ url_for("static", filename="img/icons/logout.svg") }}"
              alt="Notifications logotype"
            />
          </a>
        </nav>
      </div>
    </div>
</header>
<div class="header-main container">
    <div class="section-left">
        {{ user_icon(
        img=url_for('static', filename='img/users/26956071.png'),
        alt="User2 Photo",
        type="shadow",
        png=url_for('static', filename='img/users/26956071.png'),
        webp=url_for('static', filename='img/users/26956071.webp')
        ) }}
        <button class="button create fw-normal">
        What do you think?...
        </button>
    </div>
    <button class="button primary with-icon fw-normal">
        <img src="{{ url_for("static", filename="img/icons/notifications.svg") }}" alt="Messages Icon">
        Messages
    </button>
</div>
<div class="container main-container margin-section">  
    <aside>
    
    </aside>
    <main>
        <div class="publication margin-section">    
            {{ header_publication(
                img=url_for('static', filename='img/users/26272390.png'),
                input="New Publication",
                author="Daniel Vieira",
                time="Today",
                png=url_for('static', filename='img/users/26272390.png'),
                webp=url_for('static', filename='img/users/26272390.webp')
            )}}
            <a href="#">
                <div class="image-publication">
                    <picture>
                        <source srcset="{{ url_for("static", filename="img/media1.webp") }}" type="image/webp">
                        <source srcset="{{ url_for("static", filename="img/media1.png") }}" type="image/png">
                        <img loading="lazy" src="{{ url_for("static", filename="img/media1.png") }}" alt="Photo publication">
                    </picture>
                </div>
            </a>
            <div class="comments-user">
                <div class="comments-group">

                {{ user_icon(
                    img=url_for('static', filename='img/users/25641651.png'),
                    alt="User1 Photo",
                    type="basic one",
                    png=url_for('static', filename='img/users/25641651.png'),
                    webp=url_for('static', filename='img/users/25641651.webp')
                ) }}

                {{ user_icon(
                    img=url_for('static', filename='img/users/26838989.png'),
                    alt="User2 Photo",
                    type="basic two",
                    png=url_for('static', filename='img/users/26838989.png'),
                    webp=url_for('static', filename='img/users/26838989.webp')
                ) }}

                {{ user_icon(
                    img=url_for('static', filename='img/users/26956071.png'),
                    alt="User3 Photo",
                    type="basic three",
                    png=url_for('static', filename='img/users/26956071.png'),
                    webp=url_for('static', filename='img/users/26956071.webp')
                ) }}

                </div>
                <a href="#">Ver comentarios</a>
            </div>
        </div>
        <div class="publication margin-section">    
            {{ header_publication(
                img=url_for('static', filename='img/users/26272390.png'),
                input="New Publication",
                author="Daniel Vieira",
                time="Today",
                png=url_for('static', filename='img/users/26272390.png'),
                webp=url_for('static', filename='img/users/26272390.webp')
            )}}
            <a href="#">
                <div class="text-publication margin-section">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, voluptates quisquam unde excepturi nisi nulla esse reprehenderit alias provident maiores at iure vel dolorum. Aut accusantium commodi ratione cumque repudiandae.

                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum accusamus consectetur dolorem doloremque quasi incidunt, aspernatur culpa quae temporibus sint accusantium nisi delectus ut est perferendis eos dicta commodi dolor!
                    </p>
                </div>
            </a>
            <div class="comments-user">
                <div class="comments-group">

                {{ user_icon(
                    img=url_for('static', filename='img/users/25641651.png'),
                    alt="User1 Photo",
                    type="basic one",
                    png=url_for('static', filename='img/users/25641651.png'),
                    webp=url_for('static', filename='img/users/25641651.webp')
                ) }}

                {{ user_icon(
                    img=url_for('static', filename='img/users/26838989.png'),
                    alt="User2 Photo",
                    type="basic two",
                    png=url_for('static', filename='img/users/26838989.png'),
                    webp=url_for('static', filename='img/users/26838989.webp')
                ) }}

                {{ user_icon(
                    img=url_for('static', filename='img/users/26956071.png'),
                    alt="User3 Photo",
                    type="basic three",
                    png=url_for('static', filename='img/users/26956071.png'),
                    webp=url_for('static', filename='img/users/26956071.webp')
                ) }}

                </div>
                <a href="#">Ver comentarios</a>
            </div>
        </div>
        <div class="publication margin-section">    
            {{ header_publication(
                img=url_for('static', filename='img/users/26272390.png'),
                input="New Publication",
                author="Daniel Vieira",
                time="Today",
                png=url_for('static', filename='img/users/26272390.png'),
                webp=url_for('static', filename='img/users/26272390.webp')
            )}}
            <a href="#">
                <div class="image-publication">
                    <picture>
                        <source srcset="{{ url_for("static", filename="img/media1.webp") }}" type="image/webp">
                        <source srcset="{{ url_for("static", filename="img/media1.png") }}" type="image/png">
                        <img loading="lazy" src="{{ url_for("static", filename="img/media1.png") }}" alt="Photo publication">
                    </picture>
                </div>
            </a>
            <div class="comments-user">
                <div class="comments-group">

                {{ user_icon(
                    img=url_for('static', filename='img/users/25641651.png'),
                    alt="User1 Photo",
                    type="basic one",
                    png=url_for('static', filename='img/users/25641651.png'),
                    webp=url_for('static', filename='img/users/25641651.webp')
                ) }}

                {{ user_icon(
                    img=url_for('static', filename='img/users/26838989.png'),
                    alt="User2 Photo",
                    type="basic two",
                    png=url_for('static', filename='img/users/26838989.png'),
                    webp=url_for('static', filename='img/users/26838989.webp')
                ) }}

                {{ user_icon(
                    img=url_for('static', filename='img/users/26956071.png'),
                    alt="User3 Photo",
                    type="basic three",
                    png=url_for('static', filename='img/users/26956071.png'),
                    webp=url_for('static', filename='img/users/26956071.webp')
                ) }}

                </div>
                <a href="#">Ver comentarios</a>
            </div>
        </div>
    </main>
</div>
<div class="margin-section"></div>
<footer class="footer bg-footer">
    <div class="container container-footer text-center">
        {{ _('Copyright &copy; ITA - Computer School') }}
    </div>
</footer>

{% endblock body %}
