{% extends "showroom/base.html" %}

{% from "components/user-icon.html" import user_icon %}
{% from "components/header-publication.html" import header_publication %}
{% from "components/footer-mobile.html" import footer_mobile %}
{% from "components/buttons.html" import buttons %}
{% from "components/footer.html" import footer %}

{% block extrastyles %}<link rel="stylesheet" href="{{ url_for('static', filename='css/profile1.css') }}" >{% endblock %}

{% block title %} Profile {% endblock title %}

{% block body -%}
    <div class="section-header">
        <header class="header bg-header transparent">
            <div class="container container-header">
              <a href="#">
                <div class="main-logotype">
                  <img
                    src="{{ url_for('static', filename='img/logo.svg') }}"
                    alt="DEGVA logotype" />
                  <h1>DEGVA</h1>
                </div>
              </a>
              <div class="container-right">
                <form class="form-search">
                  <label for="search"></label>
                  <input type="text" id="search" />
                  <button class="button-search">
                    <img
                      class="icon logotype"
                      src="../../static/img/icons/search.svg"
                      alt="Notifications logotype"
                    />
                  </button>
                </form>

                <nav class="navegation">
                  <a href="#" class="search-header">
                    <img
                      class="icon"
                      src="{{ url_for("static", filename="img/icons/search.svg") }}"
                      alt="Notifications logotype"
                    />
                  </a>
                  <a href="#">
                    <img
                      class="icon"
                      src="{{ url_for("static", filename="img/icons/notifications.svg") }}"
                      alt="Notifications logotype"
                    />
                  </a>
                  <a href="#">
                    <img
                      class="icon"
                      src="{{ url_for("static", filename="img/icons/settings.svg") }}"
                      alt="Notifications logotype"
                    />
                  </a>
                  <a href="#">
                    <img
                      class="icon"
                      src="{{ url_for("static", filename="img/icons/logout.svg") }}"
                      alt="Notifications logotype"
                    />
                  </a>
                </nav>
              </div>
            </div>
          </header>
    </div>
    <div class="profile-icon">
        {{ user_icon(
            img=url_for('static', filename='img/users/26956071.png'),
            alt="User2 Photo",
            type="shadow",
            png=url_for('static', filename='img/users/26956071.png'),
            webp=url_for('static', filename='img/users/26956071.webp')
        ) }}
        <p class="fw-bold">Gabriela Ustariz</p>
    </div>


    <!-- <div class="container">
        <nav class="navegation-desktop">
            {{buttons(
                mensaje="See description",
                type="primary",
                font="fw-bold",
                letters="")
            }}
            {{buttons(
                mensaje="Friends",
                type="primary",
                font="fw-bold",
                letters="")
            }}
                {{buttons(
                    mensaje="Edit profile",
                    type="primary tercero",
                    font="fw-bold",
                    letters="")
                }}
            {{buttons(
                mensaje="Publications",
                type="primary last",
                font="fw-bold",
                letters="")
            }}
        </nav>
    </div> -->

    <div class="container main-container">
        <div class="publication">    
            {{ header_publication(
                img=url_for('static', filename='img/users/26272390.png'),
                input="New Publication",
                author="Daniel Vieira",
                time="Today",
                png=url_for('static', filename='img/users/26272390.png'),
                webp=url_for('static', filename='img/users/26272390.webp')
            )}}
            <a href="#">
                <div class="image-publication">
                    <picture>
                        <source srcset="{{ url_for("static", filename="img/media1.webp") }}" type="image/webp">
                        <source srcset="{{ url_for("static", filename="img/media1.png") }}" type="image/png">
                        <img loading="lazy" src="{{ url_for("static", filename="img/media1.png") }}" alt="Photo publication">
                    </picture>
                </div>
            </a>
            <div class="comments-user">
                <div class="comments-group">

                {{ user_icon(
                    img=url_for('static', filename='img/users/25641651.png'),
                    alt="User1 Photo",
                    type="basic one",
                    png=url_for('static', filename='img/users/25641651.png'),
                    webp=url_for('static', filename='img/users/25641651.webp')
                ) }}

                {{ user_icon(
                    img=url_for('static', filename='img/users/26838989.png'),
                    alt="User2 Photo",
                    type="basic two",
                    png=url_for('static', filename='img/users/26838989.png'),
                    webp=url_for('static', filename='img/users/26838989.webp')
                ) }}

                {{ user_icon(
                    img=url_for('static', filename='img/users/26956071.png'),
                    alt="User3 Photo",
                    type="basic three",
                    png=url_for('static', filename='img/users/26956071.png'),
                    webp=url_for('static', filename='img/users/26956071.webp')
                ) }}

                </div>
                <a href="#">Ver comentarios</a>
            </div>
        </div>
        <aside>

        </aside>
    </div>

{{footer()}}
{{footer_mobile(class="black")}}

{%- endblock body %}
