{% extends "showroom/base.html" %}

{% from "components/user-icon.html" import user_icon %}
{% from "components/header-publication.html" import header_publication %}
{% from "components/footer-mobile.html" import footer_mobile %}
{% from "components/buttons.html" import buttons %}
{% from "components/header.html" import header %}
{% from "components/footer.html" import footer %}

{% block extrastyles %}<link rel="stylesheet" href="{{ url_for('static', filename='css/profile1.css') }}" >{% endblock %}

{% block title %} Profile {% endblock title %}

{% block body -%}
  <div class="header-group">
    <div class="section-header">
      {{ header(classname="bg-header transparent") }}
      <div class="profile-icon">
        {{ user_icon(
            img=url_for('static', filename='img/users/26956071.png'),
            alt="User2 Photo",
            type="shadow",
            png=url_for('static', filename='img/users/26956071.png'),
            webp=url_for('static', filename='img/users/26956071.webp')
        ) }}   
      <p class="fw-bold">Gabriela Ustariz</p>   
    </div>
  </div>

  </div>

    <div class="desktop-content">
      <nav class="container navegation-desktop">
          {{buttons(
              mensaje="See description",
              type="primary",
              font="fw-bold",
              letters="")
          }}
          {{buttons(
              mensaje="Friends",
              type="primary",
              font="fw-bold",
              letters="")
          }}
              {{buttons(
                  mensaje="Edit profile",
                  type="primary tercero",
                  font="fw-bold",
                  letters="")
              }}
          {{buttons(
              mensaje="Publications",
              type="primary last",
              font="fw-bold",
              letters="")
          }}
      </nav>
    </div>

    <div class="mobile-content">
      <div class="container margin-section ">
        <nav class="container navegation-desktop">
          <a href="#">
            <img src="{{ url_for('static', filename='img/icons/friends.svg') }}" alt="View Friends">
          </a>
          <a href="#">
            <img src="{{url_for('static', filename='img/icons/edit.svg')}}" alt="Edit Profile">
          </a>
        </nav>
      </div>
    </div>


    <div class="container main-container">
        <div class="publication">    
            {{ header_publication(
                img=url_for('static', filename='img/users/26272390.png'),
                input="New Publication",
                author="Daniel Vieira",
                time="Today",
                png=url_for('static', filename='img/users/26272390.png'),
                webp=url_for('static', filename='img/users/26272390.webp')
            )}}
            <a href="#">
                <div class="image-publication">
                    <picture>
                        <source srcset="{{ url_for("static", filename="img/media1.webp") }}" type="image/webp">
                        <source srcset="{{ url_for("static", filename="img/media1.png") }}" type="image/png">
                        <img loading="lazy" src="{{ url_for("static", filename="img/media1.png") }}" alt="Photo publication">
                    </picture>
                </div>
            </a>
            <div class="comments-user">
                <div class="comments-group">

                {{ user_icon(
                    img=url_for('static', filename='img/users/25641651.png'),
                    alt="User1 Photo",
                    type="basic one",
                    png=url_for('static', filename='img/users/25641651.png'),
                    webp=url_for('static', filename='img/users/25641651.webp')
                ) }}

                {{ user_icon(
                    img=url_for('static', filename='img/users/26838989.png'),
                    alt="User2 Photo",
                    type="basic two",
                    png=url_for('static', filename='img/users/26838989.png'),
                    webp=url_for('static', filename='img/users/26838989.webp')
                ) }}

                {{ user_icon(
                    img=url_for('static', filename='img/users/26956071.png'),
                    alt="User3 Photo",
                    type="basic three",
                    png=url_for('static', filename='img/users/26956071.png'),
                    webp=url_for('static', filename='img/users/26956071.webp')
                ) }}

                </div>
                <a href="#">Ver comentarios</a>
            </div>
        </div>
        <aside>

        </aside>
    </div>

{{footer()}}
{{footer_mobile(class="black")}}

{%- endblock body %}