{% extends "showroom/base.html" %}

{% from "components/radio-button.html" import radioButton %}

{% block title %}{{ _('Radio Button') }}{% endblock title %}
{% block body -%}

<div class="container" style="margin: 1em;">
    <div class="w-25">
        {{radioButton(
            id='Test',
            name='Gray-radio-button',
            text='Text-radio',
            classLabel='black',
            classInput='black'
        )}}
    </div>
    
    <div class="margin-section"></div>
    
    <div class="w-18">
        {{radioButton(
            id='Text-Gray',
            name='Gray-radio-button',
            text='Text-radio',
            classLabel='gray',
            classInput='gray'
        )}}
    </div>
</div>

{%- endblock body %}