{% extends "user/auth/base.html" %}
{% from "components/user/auth/oauth.html" import oauth_button %}
{% from "components/utils/input.html" import input %}
{% from "components/utils/buttons.html" import buttons %}
{% from "components/user/auth/slogan.html" import slogan %}

{% block title %} {{ _("Log In") }} {% endblock title %}

{% block extrastyles %}<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}" >{% endblock %}

{% block body %}
<div class="container-center">
    <div class="background-dark-transparent">
        <div class="container content-distribution">
            <div class="container-left">
                <a href="{{url_for('app.landing')}}">
                    <div class="main-logotype">
                        <img
                        src="{{ url_for('static', filename='img/logo.svg') }}"
                        alt="DEGVA logotype" />
                        <h1>DEGVA</h1>
                    </div>
                </a>
                {{ slogan() }}
            </div>
            <form method="POST" id="logIn" class="form-login">
                {{ login_form.csrf_token }}

                <div class="heading black">
                    <h3 class="fw-normal">
                        {{ _("Log In") }}
                    </h3>
                    <hr>
                </div>

                {{ input(
                     field=login_form.username,
                     fieldClass="white w-100",
                     placeholder=_("Your username"),
                     labelClass="d-flex fw-bold black",
                     errors=False,
                )}}

                {{ input(
                     field=login_form.password,
                     fieldClass="white w-100",
                     placeholder=_("Your password"),
                     labelClass="d-flex fw-bold black",
                     errors=False,
                )}}

                {% if login_form.errors -%}
                <p class="error-login">
                    {{ login_form.errors.username[0] }}
                </p>
                {%- endif %}

                <a href="{{url_for('user.register')}}" id="linkaccount">
                    <p class="text-uppercase fw-bold">{{ _("Don't have account?") }}</p>
                </a>
                <div class="container-button">
                    {{buttons(
                        mensaje=_("Sign In"),
                        type="primary",
                        font="fw-bold",
                        letters="text-uppercase",
                    )}}
                </div>
                <div class="container-api">
                    {{ oauth_button(provider="twitter") }}
                    {{ oauth_button(provider="facebook") }}
                </div>
                <a href="{{url_for('user.forgot_password')}}" id="linkpassword" class="margin-section">
                    <p class="text-uppercase fw-bold">{{ _("Forgot your Password?") }}</p>
                </a>
            </form>
        </div>
    </div>
</div>

{% endblock body %}
