{% extends "user/auth/base.html" %}
{% from "components/utils/input.html" import input %}
{% from "components/utils/buttons.html" import buttons %}
{% from "components/user/auth/slogan.html" import slogan %}

{% block title %} {{ _("Reset Password") }} {% endblock title %}

{% block extrastyles %}<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}" >{% endblock %}

{% block body %}
<div class="container-center">
    <div class="background-dark-transparent">
        <div class="container content-distribution">
            <div class="container-left">
                <a href="{{url_for('app.landing')}}">
                    <div class="main-logotype">
                        <img
                        src="{{ url_for('static', filename='img/logo.svg') }}"
                        alt="DEGVA logotype" />
                        <h1>DEGVA</h1>
                    </div>
                </a>
                {{ slogan() }}
            </div>
            <form action="" method="POST" class="form" role="form">
                {{ form.csrf_token }}
            
                <div class="heading black">
                    <h3 class="fw-normal">
                        {{ _("Reset Password") }}
                    </h3>
                    <hr>
                </div>
            
                {{ input(
                    field=form.new_password,
                    field_class="white w-100",
                    placeholder=_("New password"),
                    label_class="d-flex fw-bold black",
                )}}
            
                {{ input(
                    field=form.retype_password,
                    field_class="white w-100",
                    placeholder=_("Retype password"),
                    label_class="d-flex fw-bold black",
                )}}

                <div class="container-button">
                    {{buttons(
                        mensaje=_("Change password"),
                        type="primary",
                        font="fw-bold",
                        letters="text-uppercase",
                    )}}
                </div>
                
            </form>
        </div>
    </div>
</div>

{% endblock body %}


